body {
    background-image: url(https://img.freepik.com/free-vector/dark-minimal-hexagons-background_79603-1455.jpg?t=st=1743654828~exp=1743658428~hmac=177f7485f544ca1f767172b21557b41d01f4c38b81883a93e05d6e98b0fc84fd&w=2000;);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 80%;                
    margin: 0 auto;            
    padding: 20px;
}

.main {
    height: 100%;  
    margin: 0;     
    display: flex; 
    justify-content: center; 
    align-items: center;
    height: 90vh;
}

.welcome {
    justify-items: center;
    align-items: center;
}

.Hi {
    color: #F2EFE7;
    font-family: rival-sans, sans-serif;
    font-size: 40px;
}

.student {
    color: #F2EFE7;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20px;
    margin-bottom: 40px;
}

.button {
    list-style-type: none;
    display: flex;
    justify-items: center;
    font-family: "PT Sans Narrow", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

li a {
    margin-left: 50px;
    margin-right: 50px;
    text-decoration: none;
}

a {
    text-decoration: none;    
    color: #F2EFE7;          
    padding: 5px 10px; 
    border: 1px solid #FDFAF6;
    border-radius: 7px; 
}

li a:hover {
    box-shadow: 0 0 8px 3px rgba(221, 225, 230, 0.7);
}

#about {
    margin-top: 40px;
    color: #F2EFE7;
}

.me {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 3px;
    padding: 0px 0px 0px 26px;
}

.paragraph1, .paragraph2 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 20px;
    letter-spacing: 1px;
}

#project {
    margin-top: 60px;
    color: #F2EFE7;
}

.projects {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 5px;
    padding: 0px 0px 0px 26px;
}

.paragraph3 {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 20px;
    letter-spacing: 2px;
}

#box-container {
    margin-top: 40px;
    display: flex;
    gap: 20px;
    justify-content: center;
}

.box1, .box2, .box3 {
    width: 300px;            
    height: 200px; 
    position: relative;           
    border: 5px solid #FDFAF6;
    border-radius: 5px;       
    display: flex;           
    flex-direction: column;  
    justify-content: center;  
    align-items: center;  
    margin-top: 10px;   
    padding: 30px;
}

.soon {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 20px;
    font-weight: 400;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 2px;
}

img {
    width: 100%;                  
    height: 100%;                 
    object-fit: cover; 
}

.box1:hover, .box2:hover, .box3:hover {
    box-shadow: 0 0 8px 3px rgba(221, 225, 230, 0.7);
} 

#contact {
    display: flex;
}

.container {
    display: flex;
    width: 80%;
    height: auto;
}

.left-side {
    float: left;
    flex: 1;
    padding: 10px;
}

.contact {
    font-family: "PT Sans Narrow", sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: 5px;
    padding: 0px 0px 0px 26px;
}

#name, #email, #message {
    width: 30%;
    height: 30px;
    background-color: rgba(39, 46, 52, 0.337);
    padding: 6px;
    border: 1px solid #DBDBDB;
    border-radius: 5px;
    font-family: "PT Sans Narrow", sans-serif;
}

#name:hover, #email:hover, #message:hover {
    box-shadow: 0 0 8px 3px rgba(221, 225, 230, 0.7);
}

.submit {    
    width: 10%;
    color: #F2EFE7;
    background-color: rgba(39, 46, 52, 0.337);          
    padding: 10px; 
    border: 1px solid #DBDBDB;
    border-radius: 5px;
}

.submit:hover {
    color: #686D76;
    box-shadow: 0 0 8px 3px rgba(221, 225, 230, 0.7);
}

/* .line {
    place-items: center;
    width: 1px;
    background-color: #686D76;
    height: 100%;
} */

.right-side {
    float: right;
    flex: 1;
    padding: 10px;
    margin-top: 60px;
}

.myEmail {
    font-family: "PT Sans Narrow", sans-serif;
}

.Email {
    font-size: 20px;
    font-weight: 600;
}

.gmail {
    font-size: 16px;
    font-weight: 400;
}

.logo {
    margin-top: 40px;
}

i {
    font-size: 35px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 20px;
}

p {
    font-family: rival-sans, sans-serif;
    font-weight: 400;
    letter-spacing: 2px;
}